# Расчёт конкурентоспособности

In [39]:
import numpy as np
import pandas as pd
from math import sqrt

In [41]:
#Технические характеристики
characteristic1 = str(input())
characteristic2 = str(input())
characteristic3 = str(input())
characteristic4 = str(input())

Максимальная взлетная масса, кг
Полезная нагрузка, кг
Крейсерская скорость, км/ч
Максимальная дальность полета с АНЗ, км

In [42]:
#Экономические характеристики
characteristic5 = str(input())
characteristic6 = str(input())

Цена продаж за рубежом, $ млн
Стоимость летного часа, $

In [43]:
#characteristic1
list1 = []
for i in range(3):
    list1.append(int(input()))

print(list1)
max1 = max(list1)
print("Лучшее значение: ", max1)

13000
11000
12200
[13000, 11000, 12200]
Лучшее значение:  13000

In [44]:
#characteristic2
list2 = []
for i in range(3):
    list2.append(int(input()))

print(list2)
max2 = max(list2)
print("Лучшее значение: ", max2)

3911
4327
3995
[3911, 4327, 3995]
Лучшее значение:  4327

In [45]:
#characteristic3
list3 = []
for i in range(3):
    list3.append(int(input()))

print(list3)
max3 = max(list3)
print("Лучшее значение: ", max3)

240
278
269
[240, 278, 269]
Лучшее значение:  278

In [46]:
#characteristic4
list4 = []
for i in range(3):
    list4.append(int(input()))

print(list4)
max4 = max(list4)
print("Лучшее значение: ", max4)

510
816
573
[510, 816, 573]
Лучшее значение:  816

In [48]:
#characteristic5
list5 = []
for i in range(3):
    list5.append(float(input()))

print(list5)
min1 = min(list5)
print("Лучшее значение: ", min1)

18.5
28.5
28.5
[18.5, 28.5, 28.5]
Лучшее значение:  18.5

In [49]:
#characteristic6
list6 = []
for i in range(3):
    list6.append(int(input()))

print(list6)
min2 = min(list6)
print("Лучшее значение: ", min2)

4600
5918
5931
[4600, 5918, 5931]
Лучшее значение:  4600

In [50]:
#Исходные данные
initial_data = pd.DataFrame({"№" : [1, 1.1, 2.1, 3.1, 4.1, 2, 1.2, 2.2],
                             "Характеристика": ['Технические характеристики: ', 'Максимальная взлетная масса, кг', 'Полезная нагрузка, кг', 'Крейсерская скорость, км/ч', 'Максимальная дальность полета с АНЗ, км', 'Экономические характеристики: ', 'Цена продаж за рубежом, $ млн', 'Стоимость летного часа, $'],
                             "Ми-171Аз": ['null', 13000, 3911, 240, 510, 'null', 18.5, 4600], "Н-225 Airbus Helicopters": ['null', 11000, 4327, 278, 816, 'null', 28.5, 5918], "S-92 Sikorsky Aircraft": ['null', 12200, 3995, 269, 573, 'null', 28.5, 5931],
                             "Лучшее зачение (идеальная модель)": ['null', 13000, 4327, 278, 816, 'null', 18.5, 4600]})

In [51]:
initial_data

,№,Характеристика,Ми-171Аз,Н-225 Airbus Helicopters,S-92 Sikorsky Aircraft,Лучшее зачение (идеальная модель)
0,1.0,Технические характеристики:,null,null,null,null
1,1.1,"Максимальная взлетная масса, кг",13000,11000,12200,13000
2,2.1,"Полезная нагрузка, кг",3911,4327,3995,4327
3,3.1,"Крейсерская скорость, км/ч",240,278,269,278
4,4.1,"Максимальная дальность полета с АНЗ, км",510,816,573,816
5,2.0,Экономические характеристики:,null,null,null,null
6,1.2,"Цена продаж за рубежом, $ млн",18.5,28.5,28.5,18.5
7,2.2,"Стоимость летного часа, $",4600,5918,5931,4600

In [52]:
#Расчет частных нормированных показателей 
#Максимальная взлетная масса, кг
for i in range(3):
    a1 = list1[0]/max1
    a2 = list1[1]/max1
    a3 = list1[2]/max1
print("a1: ", a1)
print("a2: ", a2)
print("a3: ", a3)

a1:  1.0
a2:  0.8461538461538461
a3:  0.9384615384615385

In [53]:
#Расчет частных нормированных показателей 
#Полезная нагрузка, кг
for i in range(3):
    b1 = list2[0]/max2
    b2 = list2[1]/max2
    b3 = list2[2]/max2
print("b1: ", b1)
print("b2: ", b2)
print("b3: ", b3)

b1:  0.9038594869424543
b2:  1.0
b3:  0.9232724751559972

In [54]:
#Расчет частных нормированных показателей
#Крейсерская скорость, км/ч
for i in range(3):
    c1 = list3[0]/max3
    c2 = list3[1]/max3
    c3 = list3[2]/max3
print("c1: ", c1)
print("c2: ", c2)
print("c3: ", c3)

c1:  0.8633093525179856
c2:  1.0
c3:  0.9676258992805755

In [55]:
#Расчет частных нормированных показателей
#Максимальная дальность полета с АНЗ, км
for i in range(3):
    d1 = list4[0]/max4
    d2 = list4[1]/max4
    d3 = list4[2]/max4
print("d1: ", d1)
print("d2: ", d2)
print("d3: ", d3)

d1:  0.625
d2:  1.0
d3:  0.7022058823529411

In [56]:
#Расчет частных нормированных показателей 
#Цена продаж за рубежом, $ млн
for i in range(3):
    e1 = min1/list5[0]
    e2 = min1/list5[1]
    e3 = min1/list5[2]
print("e1: ", e1)
print("e2: ", e2)
print("e3: ", e3)

e1:  1.0
e2:  0.6491228070175439
e3:  0.6491228070175439

In [57]:
#Расчет частных нормированных показателей 
#Стоимость летного часа, $
for i in range(3):
    j1 = min2/list6[0]
    j2 = min2/list6[1]
    j3 = min2/list6[2]
print("j1: ", j1)
print("j2: ", j2)
print("j3: ", j3)

j1:  1.0
j2:  0.777289624873268
j3:  0.7755859045692126

In [58]:
#Расчет частных нормированных показателей 
rationing_indicators = pd.DataFrame({"№" : [1, 1.1, 2.1, 3.1, 4.1, 2, 1.2, 2.2],
                             "Характеристика": ['Технические характеристики: ', 'Максимальная взлетная масса, кг', 'Полезная нагрузка, кг', 'Крейсерская скорость, км/ч', 'Максимальная дальность полета с АНЗ, км', 'Экономические характеристики: ', 'Цена продаж за рубежом, $ млн', 'Стоимость летного часа, $'],
                             "Ми-171Аз": ['null', 1, 0.904, 0.863, 0.625, 'null', 1, 1], "Н-225 Airbus Helicopters": ['null', 0.846, 1, 1, 1, 'null', 0.649, 0.777], "S-92 Sikorsky Aircraft": ['null', 0.938, 0.923, 0.968, 0.702, 'null', 0.649, 0.776]})

In [59]:
rationing_indicators

,№,Характеристика,Ми-171Аз,Н-225 Airbus Helicopters,S-92 Sikorsky Aircraft
0,1.0,Технические характеристики:,null,null,null
1,1.1,"Максимальная взлетная масса, кг",1,0.846,0.938
2,2.1,"Полезная нагрузка, кг",0.904,1,0.923
3,3.1,"Крейсерская скорость, км/ч",0.863,1,0.968
4,4.1,"Максимальная дальность полета с АНЗ, км",0.625,1,0.702
5,2.0,Экономические характеристики:,null,null,null
6,1.2,"Цена продаж за рубежом, $ млн",1,0.649,0.649
7,2.2,"Стоимость летного часа, $",1,0.777,0.776

In [61]:
n= int(input())

4

In [62]:
print("Введите", n,"элементов первой строки(первое число 1):")
matrix1 = []
for i in range(n):
    matrix1.append(float(input()))

print(matrix1)

Введите 4 элементов первой строки(первое число 1):
1
2
3
3
[1.0, 2.0, 3.0, 3.0]

In [7]:
print("Введите", n,"элементов второй строки(второе число 1):")
matrix2 = []
for i in range(n):
    matrix2.append(float(input()))

Введите 4 элементов второй строки(второе число 1):
0.5
1
3
3

In [34]:
print("Введите", n,"элементов третьей строки(третье число 1):")
matrix3 = []
for i in range(n):
    matrix3.append(float(input()))

Введите 4 элементов третьей строки(третье число 1):
0.33
0.33
1
2

In [21]:
print("Введите", n,"элементов четвертой строки(четвертое число 1):")
matrix4=[]
for i in range (n):
    matrix4.append(float(input()))

Введите 4 элементов четвертой строки(четвертое число 1):
0.33
0.33
0.5
1

In [35]:
#вектор приоритетов первой строки
m1=sum(matrix1)
m2=sum(matrix2)
m3=sum(matrix3)
m4=sum(matrix4)

w1=m1/(m1+m2+m3+m4)
w2=m2/(m1+m2+m3+m4)
w3=m3/(m1+m2+m3+m4)
w4=m4/(m1+m2+m3+m4)
v=w1+w2+w3+w4
v

1.0

In [36]:
#название характеристик лучше заменить на переменные которым они принадлежат
sravn = pd.DataFrame({"№" : [ 1, 2, 3, 4],
                             "Характеристика": [ 'Максимальная взлетная масса, кг', 'Полезная нагрузка, кг', 'Крейсерская скорость, км/ч','Максимальная дальность полета с АНЗ, км'],
                            
                             "Максимальная взлетная масса, кг": [matrix1[0],matrix2[0],matrix3[0],matrix4[0]],
                             "Полезная нагрузка, кг": [ matrix1[1],matrix2[1],matrix3[1],matrix4[1]],
                             "Крейсерская скорость, км/ч": [ matrix1[2],matrix2[2],matrix3[2],matrix4[2]],
                             'Максимальная дальность полета с АНЗ, км': [ matrix1[3],matrix2[3],matrix3[3],matrix4[3]],
                             "вектор приоритетов":[w1,w2,w3,w4]})
sravn

,№,Характеристика,"Максимальная взлетная масса, кг","Полезная нагрузка, кг","Крейсерская скорость, км/ч","Максимальная дальность полета с АНЗ, км",вектор приоритетов
0,1,"Максимальная взлетная масса, кг",1.00,2.00,3.0,3.0,0.403226
1,2,"Полезная нагрузка, кг",0.50,1.00,3.0,3.0,0.336022
2,3,"Крейсерская скорость, км/ч",0.33,0.33,1.0,2.0,0.163978
3,4,"Максимальная дальность полета с АНЗ, км",0.33,0.33,0.5,1.0,0.096774

In [72]:
#расчет показателя тех. конкурентоспособности 
r1=a1*w1+b1*w2+c1*w3+d1*w4
r2=a2*w1+b2*w2+c2*w3+d2*w4
r3=a3*w1+b3*w2+c3*w3+d3*w4
list11=[r1,r2,r3]
max11=max(list11)
if max11==r1:
    print("Лучший показатель у объекта 1")
if max11==r2:
    print("Лучший показатель у объекта 2")
if max11==r3:
    print("Лучший показатель у объекта 3")
print(list11)

Лучший показатель у объекта 2
[0.9089900708908708, 0.9379652605459057, 0.9152765639369661]

In [73]:
#расчет показателя эконом. конкурентоспособности 
r4=e1*0.5+j1*0.5
r5=e2*0.5+j2*0.5
r6=e3*0.5+j3*0.5
list22=[r4,r5,r6]
max22=max(list22)
if max22==r4:
    print("Лучший показатель у объекта 1")
if max22==r5:
    print("Лучший показатель у объекта 2")
if max22==r6:
    print("Лучший показатель у объекта 3")
list22

Лучший показатель у объекта 1

[1.0, 0.713206215945406, 0.7123543557933782]

In [74]:
r7=r1*0.5+r4*0.5
r8=r2*0.5+r5*0.5
r9=r3*0.5+r6*0.5
list33=[r7,r8,r9]
max33=max(list33)
if max33==r7:
    print("Лучший показатель у объекта 1")
if max33==r8:
    print("Лучший показатель у объекта 2")
if max33==r9:
    print("Лучший показатель у объекта 3")
list33

Лучший показатель у объекта 1

[0.9544950354454353, 0.8255857382456558, 0.8138154598651721]